body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #303870;
}

h2 {
    margin-top: 20px;
    color: #303870;
}

p {
    margin: 10px 0;
}

ul {
    margin-left: 20px;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #303870;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}